.bicycle-box_bicycle span {
  position: relative;
  overflow: hidden;
}
.bicycle-box_bicycle span::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
}
.bicycle-box_bicycle span:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@keyframes shine {
  100% {
    left: 125%;
  }
}


